name: CRM Deployment

on:
  push:
    branches:
      - master # Only trigger when pushing to the 'master' branch
  workflow_dispatch:
    inputs:
      deploy_type:
        description: "Choose deploy type"
        required: true
        default: "normal"
        type: choice
        options:
          - docker
          - normal

permissions:
  contents: write # Allows the workflow to push changes
  actions: read # Allows reading action logs
  pull-requests: write # Enables PR creation and updates

jobs:
  # docker-deploy_remote:
  #   needs: docker-deploy # This makes test-mysql depend on the successful completion of setup-mysql
  #   if: ${{ vars.DEPLOY_TYPE == 'docker'}}  && github.actor == "NoumanAhmad448"
  #   runs-on: ubuntu-latest

  #   strategy:
  #     fail-fast: true
  #     matrix:
  #       php: [8.1] # You can add more PHP versions in the future if needed
  #       commit_msg: ["Fixes coding style"]
  #       container: ["lyskills-app"]
  #       app: ["lyskills-app"]
  #   steps:
  #     - uses: actions/checkout@v3
  #       with:
  #         fetch-depth: 0 # Fetch the entire repository

  #     - name: Creating essential directoires
  #       run: |
  #         sudo mkdir -p $GITHUB_WORKSPACE/storage/app
  #         sudo mkdir -p $GITHUB_WORKSPACE/storage/framework/cache
  #         sudo mkdir -p $GITHUB_WORKSPACE/storage/framework/sessions
  #         sudo mkdir -p $GITHUB_WORKSPACE/storage/framework/views
  #         sudo mkdir -p $GITHUB_WORKSPACE/storage/logs

  #     - name: File permission
  #       run: yes | sudo chmod -R 777 $GITHUB_WORKSPACE/storage/ $GITHUB_WORKSPACE/bootstrap/cache

  #     - name: Set up SSH
  #       uses: webfactory/ssh-agent@836c84ec59a0e7bc0eabc79988384eb567561ee2
  #       with:
  #         ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

  #     # Step 6: Add remote server to known hosts
  #     - name: Add remote server to known hosts
  #       run: |
  #         mkdir -p ~/.ssh
  #         ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

  #     # Step 6: Deploy using rsync
  #     - name: Deploy using rsync
  #       run: |
  #         rsync -avz --delete --exclude='.env' \
  #           --exclude='.env.testing' \
  #           -e "ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no" \
  #           ./ "${{ secrets.SSH_USERNAME }}@${{ secrets.SERVER_IP }}:${{secrets.SERVER_PATH}}/"

  #     - name: SSH to server and deploy Docker image
  #       uses: appleboy/ssh-action@9817ef4a1793d4009d854d26cfb0ba4b615d5791
  #       with:
  #         username: ${{ secrets.SSH_USERNAME }}
  #         host: ${{ secrets.SERVER_IP }}
  #         password: ${{ secrets.SSH_PASSWORD }}
  #         port: 22
  #         script: |
  #           cd ${{secrets.SERVER_PATH}} &&
  #           sudo chmod -R 775 ${{secrets.SERVER_PATH}}/docker_deploy.sh &&
  #           sudo chown -R root:root ${{secrets.SERVER_PATH}}/docker_deploy.sh &&
  #           ./docker_deploy.sh

  # docker-deploy:
  #   if: ${{ vars.DEPLOY_TYPE == 'docker'}}  && github.actor == "NoumanAhmad448" && ${{ false }}
  #   needs: laravel-deployment # This makes test-mysql depend on the successful completion of setup-mysql
  #   runs-on: ubuntu-latest

  #   strategy:
  #     fail-fast: true
  #     matrix:
  #       php: [8.1] # You can add more PHP versions in the future if needed
  #       commit_msg: ["Fixes coding style"]
  #       container: ["lyskills-app"]
  #       app: ["lyskills-app"]
  #   services:
  #     mysql:
  #       image: mysql:8
  #       env:
  #         MYSQL_DATABASE: test_db
  #         MYSQL_ROOT_PASSWORD: root
  #       ports:
  #         - 3306:3306
  #       options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
  #       volumes:
  #         - ./my.cnf:/etc/mysql/my.cnf  # Mount the custom config file
  #   steps:
  #     - uses: actions/checkout@v3
  #       with:
  #         fetch-depth: 0 # Fetch the entire repository history

  #     - name: Setup PHP
  #       uses: shivammathur/setup-php@21e092a3e0c2fabb77bf641337eced34a4bcd3cc
  #       with:
  #         php-version: ${{ matrix.php }}
  #         extensions: json, dom, curl, libxml, mbstring, bz2, fileinfo, gd, gettext, mbstring, exif, mysqli, pdo_mysql
  #         tools: pint:1.16.1, phpdoc, composer:2.4.4
  #         coverage: none

  #     - name: Set up Node.js
  #       uses: actions/setup-node@v3
  #       with:
  #         node-version: '20'  # Specify the Node.js version you want to use (e.g., 14, 16, 18, etc.)
  #     - name: Set up Environment File
  #       run: |
  #         cp .env.testing.example .env
  #         # Read the keys from the secrets.json file (no values)
  #         # keys=$(cat secrets.json)

  #         # # Loop through each key, get the value from GitHub Secrets and set it in the .env file
  #         # following loop is not valid for github action
  #         # for key in $keys; do
  #         #   value=secrets.$key"
  #         #   echo "$key=$value" >> .env
  #         # done

  #         echo "DB_CONNECTION=${{secrets.DB_CONNECTION}}"  >> .env
  #         echo "DB_HOST=${{secrets.DB_HOST}}"  >> .env
  #         echo "DB_PORT=${{secrets.DB_PORT}}"  >> .env
  #         echo "DB_DATABASE=${{secrets.DB_DATABASE}}"  >> .env
  #         echo "DB_USERNAME=${{secrets.DB_USERNAME}}"  >> .env
  #         echo "DB_PASSWORD=${{secrets.DB_PASSWORD}}"  >> .env
  #         echo "MAIL_HOST=${{secrets.MAIL_HOST}}"  >> .env
  #         echo "MAIL_USERNAME=${{secrets.MAIL_USERNAME}}"  >> .env
  #         echo "MAIL_PASSWORD=${{secrets.MAIL_PASSWORD}}"  >> .env
  #         echo "MAIL_FROM_ADDRESS=${{secrets.MAIL_FROM_ADDRESS}}"  >> .env
  #         echo "AWS_ACCESS_KEY_ID=${{secrets.AWS_ACCESS_KEY_ID}}"  >> .env
  #         echo "AWS_SECRET_ACCESS_KEY=${{secrets.AWS_SECRET_ACCESS_KEY}}"  >> .env
  #         echo "AWS_DEFAULT_REGION=${{secrets.AWS_DEFAULT_REGION}}"  >> .env
  #         echo "AWS_BUCKET=${{secrets.AWS_BUCKET}}"  >> .env
  #         echo "NOCAPTCHA_SITEKEY=${{secrets.NOCAPTCHA_SITEKEY}}"  >> .env
  #         echo "NOCAPTCHA_SECRET=${{secrets.NOCAPTCHA_SECRET}}"  >> .env
  #         echo "GOOGLE_APP_KEY=${{secrets.GOOGLE_APP_KEY}}"  >> .env
  #         echo "GOOGLE_SECURITY_KEY=${{secrets.GOOGLE_SECURITY_KEY}}"  >> .env
  #         echo "FACEBOOK_APP_KEY=${{secrets.FACEBOOK_APP_KEY}}"  >> .env
  #         echo "FACEBOOK_SECURITY_KEY=${{secrets.FACEBOOK_SECURITY_KEY}}"  >> .env
  #         echo "LINKEDIN_APP_KEY=${{secrets.LINKEDIN_APP_KEY}}"  >> .env
  #         echo "LINKEDIN_SECURITY_KEY=${{secrets.LINKEDIN_SECURITY_KEY}}"  >> .env
  #         echo "STRIPE_KEY=${{secrets.STRIPE_KEY}}"  >> .env
  #         echo "STRIPE_SECRET=${{secrets.STRIPE_SECRET}}"  >> .env
  #         echo "PAYPAL_SANDBOX_CLIENT_ID=${{secrets.PAYPAL_SANDBOX_CLIENT_ID}}"  >> .env
  #         echo "PAYPAL_SANDBOX_CLIENT_SECRET=${{secrets.PAYPAL_SANDBOX_CLIENT_SECRET}}"  >> .env
  #         echo "PAYPAL_LIVE_CLIENT_ID=${{secrets.PAYPAL_LIVE_CLIENT_ID}}"  >> .env
  #         echo "PAYPAL_LIVE_CLIENT_SECRET=${{secrets.PAYPAL_LIVE_CLIENT_SECRET}}"  >> .env
  #         echo "DEBUG_JS=${{secrets.DEBUG_JS}}"  >> .env
  #         echo "AWS_URL=${{secrets.AWS_URL}}"  >> .env
  #         echo "NO_REPLY_EMAIL_PASS=${{secrets.NO_REPLY_EMAIL_PASS}}"  >> .env
  #         echo "DB_TESTING_DATABASE=${{secrets.DB_TESTING_DATABASE}}"  >> .env
  #         echo "DB_Laravel=${{secrets.DB_Laravel}}"  >> .env
  #         echo "AWS_ENDPOINT=${{secrets.AWS_ENDPOINT}}"  >> .env
  #         echo "CONTACT_US_MAIL=${{secrets.CONTACT_US_MAIL}}"  >> .env
  #         echo "SLACK_URL=${{secrets.SLACK_URL}}"  >> .env
  #         echo "SLACK_CHANNEL=${{secrets.SLACK_CHANNEL}}"  >> .env
  #         echo "SLACK_USR_NAM=${{secrets.SLACK_USR_NAM}}"  >> .env
  #         echo "SLACK_CHANNEL=${{secrets.DB_TESTING_DATABASE}}"  >> .env
  #         echo "SLACK_USR_NAM=${{secrets.DB_LARAVEL}}"  >> .env


  #     - name: Run Pint for code styling
  #       run: pint --config pint.json

  #     - name: Creating essential directoires
  #       run: |
  #         sudo mkdir -p $GITHUB_WORKSPACE/storage/app
  #         sudo mkdir -p $GITHUB_WORKSPACE/storage/framework/cache
  #         sudo mkdir -p $GITHUB_WORKSPACE/storage/framework/sessions
  #         sudo mkdir -p $GITHUB_WORKSPACE/storage/framework/views
  #         sudo mkdir -p $GITHUB_WORKSPACE/storage/logs

  #     - name: File permission
  #       run: yes | sudo chmod -R 777 $GITHUB_WORKSPACE/storage/ $GITHUB_WORKSPACE/bootstrap/cache

  #     - name: Show file structure
  #       run: sudo ls -l $GITHUB_WORKSPACE

  #     - name: check user
  #       run: whoami

  #     - name: Set folder ownership to current user
  #       run: sudo chown -R $(whoami):$(whoami) $GITHUB_WORKSPACE/storage/ $GITHUB_WORKSPACE/bootstrap/cache

  #     - name: installing composer
  #       run: composer install --no-interaction --prefer-dist --optimize-autoloader --no-cache

  #     - name: Checking databse credentials
  #       run: |
  #           echo "DB_CONNECTION=${{secrets.DB_CONNECTION}}"
  #           echo "DB_HOST=${{secrets.DB_HOST}}"
  #           echo "DB_PORT=${{secrets.DB_PORT}}"
  #           echo "DB_DATABASE=${{secrets.DB_DATABASE}}"
  #           echo "DB_USERNAME=${{secrets.DB_USERNAME}}"
  #           echo "DB_PASSWORD=${{secrets.DB_PASSWORD}}"

  #     - name: install npm
  #       run: npm install

  #     - name: installing run production
  #       run: npm run production

  #     - name: Running migrations Tests
  #       run: php artisan migrate --force

  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2

  #     - name: Log in to DockerHub
  #       uses: docker/login-action@49ed152c8eca782a232dede0303416e8f356c37b
  #       with:
  #         username: ${{ secrets.DOCKER_USERNAME }}
  #         password: ${{ secrets.DOCKER_PASSWORD }}

  #     # - name: Build images using docker-compose
  #     #   run: docker compose build

  #     # - name: Tag the image
  #     #   run: docker tag ${{matrix.container}} ${{ secrets.DOCKER_USERNAME }}/${{matrix.container}}:latest

  #     # - name: Push the image to Docker Hub
  #     #   run: docker push ${{ secrets.DOCKER_USERNAME }}/${{matrix.container}}:latest

  #     - name: Stop Docker containers
  #       run: |
  #         docker compose down

  laravel-deployment:
    runs-on: ubuntu-latest
    timeout-minutes: 1200
    if: ${{ vars.DEPLOY_TYPE  == 'laravel' }} && github.actor == "NoumanAhmad448"
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Fetch the entire repository history

      # - name: Sync files to server via FTP
      #   uses: SamKirkland/FTP-Deploy-Action@8e83cea8672e3fbcbb9fdafff34debf6ae4c5f65
      #   with:
      #     server: ${{ secrets.FTP_SERVER }}
      #     username: ${{ secrets.FTP_USERNAME }}
      #     password: ${{ secrets.FTP_PASS }}
      #     server-dir: /
      #     log-level: verbose
      #     timeout: 60000000
      #     port: 21
      #     # passive: true  # Use passive mode to avoid unexpected disconnects
      #     protocol: ftps
      #     exclude: |
      #       **/.git*
      #       **/.git*/**
      #       **/node_modules/**
      #       **/vendor/**

      # - name: Deploy to Staging server
      #   uses: easingthemes/ssh-deploy@a1aa0b6cf96ce2406eef90faa35007a4a7bf0ac0
      #   with:
      #     SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      #     ARGS: "-rlgoDzvc -i"
      #     SOURCE: "/"
      #     REMOTE_HOST: ${{ secrets.SERVER_IP }}
      #     REMOTE_USER: ${{ secrets.SSH_USERNAME }}
      #     TARGET: /
      #     EXCLUDE: "/dist/, /node_modules/ , /.git, /vendor/"
      # SCRIPT_BEFORE: |
      #   whoami
      # SCRIPT_AFTER_REQUIRED: true
      # SCRIPT_AFTER: |
      #   cd ${{secrets.SERVER_PATH}} &&
      #   sudo chmod -R 775 ${{secrets.SERVER_PATH}}/server_deploy.sh &&
      #   sudo chown -R root:root ${{secrets.SERVER_PATH}}/server_deploy.sh &&
      #   ./server_deploy.sh
      # Step 5: Set up SSH
      - name: Set up SSH
        uses: webfactory/ssh-agent@836c84ec59a0e7bc0eabc79988384eb567561ee2
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      # Step 6: Add remote server to known hosts
      - name: Add remote server to known hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      # Step 6: Deploy using rsync
      - name: Deploy using rsync
        run: |
          rsync -avz --delete --exclude='.env' \
            --exclude='.env.testing' \
            -e "ssh -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no" \
            ./ "${{ secrets.SSH_USERNAME }}@${{ secrets.SERVER_IP }}:${{secrets.SERVER_PATH}}/"

      - name: Run server-side deployment script
        uses: appleboy/ssh-action@9817ef4a1793d4009d854d26cfb0ba4b615d5791
        with:
          username: ${{ secrets.SSH_USERNAME }}
          host: ${{ secrets.SERVER_IP }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            cd ${{secrets.SERVER_PATH}} &&
            sudo chmod -R 775 ${{secrets.SERVER_PATH}}/server_deploy.sh &&
            sudo chown -R root:root ${{secrets.SERVER_PATH}}/server_deploy.sh &&
            ./server_deploy.sh
